.homePage{
    display: flex;
    height: 100%;
    .textContainer {
        flex: 3;
        .wrapper{
            padding-right: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            height: 100%;
            .title{
                font-size: 54px;
            }
            .boxes{
                display: flex;
                gap: 50px;
            
            }

        
        }
        
    }
        .imgContainer{
           flex: 2;
           position: relative;
           
            background-color: #fcf5f3;
            img{
                width: 105%;
                position: absolute;
                right: 0;
               
            }
        }
}